<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charge Req</title>

    <style>
        #header {
            height: 135px;
        }

        #mainContainer {
            height: 290px;
            padding-right: 10px;
        }

        .card {
            border-radius: 12px;
            /* fixed typo */
        }
    </style>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div style="height: 6rem;"></div>
    <div class="container-fluid row justify-content-center align-content-center mx-auto d-flex flex-column">
        <div class="p-4 shadow-lg" id="container"
            style="width: 38rem; height: 500px; border-radius: 25px; background-color: rgb(206, 231, 245);">
            <div class="row">
                <h2 class="mt-3 mb-4 text-center">Charge Request</h2>
            </div>
            <div class="p-4 text-center mt-3" id="mainContainer">
                <div class="row p-3">
                    <button class="btn btn-lg btn-light col m-2 border-0">5%</button>
                    <button class="btn btn-lg btn-light col m-2 border-0">10%</button>
                    <button class="btn btn-lg btn-light col m-2 border-0">15%</button>
                </div>
                <div class="row p-3">
                    <button class="btn btn-lg btn-light col m-2 border-0">20%</button>
                    <button class="btn btn-lg btn-light col m-2 border-0">25%</button>
                    <button class="btn btn-lg btn-light col m-2 border-0">30%</button>
                </div>
                <div class="row p-3">
                    <button class="btn btn-lg btn-light col m-2 border-0">35%</button>
                    <button class="btn btn-lg btn-light col m-2 border-0">40%</button>
                    <button class="btn btn-lg btn-light col m-2 border-0">45%</button>
                </div>
            </div>
            <div class="col mt-1 justify-content-center text-center align-content-center">
                <a href="/">
                    <img src="/static/images/home.png" alt="Home" class="img-fluid" style="width:40px;" />
                </a>
                <a href="/CSs">
                    <img src="/static/images/cs.png" alt="Home" class="img-fluid" style="width:40px;" />
                </a>
            </div>
        </div>
    </div>

    <script>
        const socket = io();

    </script>
</body>

</html>